<h3>write_form.ejs</h3>
<script>
    function readURL(input){
    console.log(input);
    const file = input.files[0];
    console.log(file);
    
    if(file != ""){
        const reader = new FileReader();
        reader.readAsDataURL( file );
        reader.onload = (e)=> {
            console.log( e.target.result );
            document.querySelector("#preview").src = e.target.result;
        }
    }
}
</script>
<form action ="/write" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id">
    
    제목 : 
        <input type="text" name="title" placeholder="input title"><br><br>
    
    첨부 파일<br>
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA1MjRfNzMg%2FMDAxNjg0OTMzMDA2MTg4.-GSf_FR9WTvz8zFdV62latz47wTGocSwI92Vx4ZVKbYg.B2DyIBDeHYhljF8Ei13yxvITBNGjwXurDBOEnravLU0g.JPEG.zwecan00%2Foutput_2090565282.jpg&type=sc960_832" 
            id="preview" width="100" height="100" alt = "이미지가 없습니다"><br>
        <input type="file" name="file_name" onchange="readURL(this)"><br><br>
    
    내용 : <br>
    <textarea style="resize: none;" rows="20" cols="100" placeholder="글 작성해주세여"></textarea><br>
    <input type="submit" value="등록">
</form>