<h3>write_form.ejs</h3>
<script>
    function readURL(input){
    console.log(input);
    const file = input.files[0];
    console.log(file);
    
    if(file != ""){
        const reader = new FileReader();
        reader.readAsDataURL( file );
        reader.onload = (e)=> {
            console.log( e.target.result );
            document.querySelector("#preview").src = e.target.result;
        }
    }
}
</script>

<!--<form action ="/write" method="post" enctype="multipart/form-data">-->
<form action ="/write" method="post">
    <input type="hidden" name="id">
    
    제목 : 
        <input type="text" name="title" placeholder="input title"><br><br>
    내용 : <br>
    <textarea style="resize: none;" rows="20" cols="100" name="content" placeholder="글 작성해주세여"></textarea><br>
    <input type="submit" value="등록">
</form>